#vervy background {
  background: transparent;
}

#vervy entry {
  border: 4px solid #AAA;
  box-shadow: 0 0 2px 6px #AAA;
  border-radius: 12px;
  padding: 0 2px;
  margin: 0 -2px;
  background: #444;
  color: #FFF;
}

#vervy entry:drop(active),
#vervy entry:focus {
  background: #EEE;
  color: #333;
}

#vervy entry#vervyswitch {
  border-radius: 0;
  border-width: 6px 5px;
  background: #543;
}

#vervy grid {
  background: #ABC;
  padding: 12px 8px 4px;
}
#vervy grid > * {
  margin: 0 4px 12px;
  box-shadow: 1px 2px 2px #015;
}

#vervy button {
  background: linear-gradient(to bottom, #666 0, #FFF 1%, #EEE 10%, #E0E0E0 40%, #CCC 90%, #999 99%, #666);
}
#vervy button:active,
#vervy button:focus {
  background: linear-gradient(to bottom, #666 0, #CCC 1%, #CCC 10%, #E0E0E0 40%, #EEE 90%, #F0F0F0 99%, #FFF);
}
#vervy button:hover {
  background: linear-gradient(to bottom, #333 0, #999 1%, #999 10%, #B0B0B0 40%, #BBB 90%, #C0C0C0 99%, #CCC);
}
#vervy .text-button {
  font-weight: 800;
  margin: 2px;
  padding: 0 12px;
}
#vervy .text-button label {
  margin: 0;
  padding: 0 18px;
  color: #369;
}
#vervy .image-button {
  padding: 4px;
  border: none;
}
#vervy .image-button * {
  padding: 0;
  margin: 0;
}
#vervy image:hover {
  background: none;
  border: none;
}
